@use "../common/base" as *;

/* libanswers/_base.scss */

// We can’t bring our own Bootstrap to LibAnswers, so here are base overrides.

html, body {
    font-size: revert;
}

// LibAnswers started underlining all links, so we need to undo that.
a:not(.btn, .collapsible-toggle, .accordion-toggle) {
    text-decoration: none;
}
