@use "../common/base" as *;

/* libanswers/_base.scss */

// We can’t bring our own Bootstrap to LibAnswers, so here are base overrides.

html, body {
    font-size: revert;
}

// LibAnswers started underlining all links, so we need to undo that.
a:not(.btn, .collapsible-toggle, .accordion-toggle) {
    text-decoration: none;
}

/* Libanswer button styles for BS5 */

  button[name="emailuser"] {                                                    
    background-color: $jungle;                                                  
    border-color: $jungle;                                                      
                                                                                
    &:hover,                                                                    
    &:focus {                                                                   
      background-color: darken($jungle, 10%);                                   
      border-color: darken($jungle, 10%);                                       
    }                                                                           
                                                                                
    &:active {                                                                  
      background-color: darken($jungle, 15%);                                   
      border-color: darken($jungle, 15%);                                       
    }                                                                           
  }     