@use "../common/footer" as *;
@use "../common/colors" as *;
@use "sass:color";

/* libanswers/_footer.scss */

#footer-wrapper {
  a {
    i {
      /* NOTE: override LibAnswers CSS that sets `a i` elements to `color:#000` */
      color: white;
    }
  }
}
#footer-breadcrumbs {
  .breadcrumb {
    background-color: transparent;
    padding: 8px 15px 8px 0px;
  }
}

button[name="emailuser"] {
  background-color: $jungle;
  border-color: $jungle;

  &:hover,
  &:focus {
    background-color: color.adjust($jungle, $lightness: -10%);
    border-color: color.adjust($jungle, $lightness: -10%);
  }

  &:active {
    background-color: color.adjust($jungle, $lightness: -15%);
    border-color: color.adjust($jungle, $lightness: -15%);
  }
}

caption.s-lc-w-sr-only {
    color: #ffffff !important;
    }