@use "../common/footer" as *;

/* libanswers/_footer.scss */

#footer-wrapper {
  a {
    i {
      /* NOTE: override LibAnswers CSS that sets `a i` elements to `color:#000` */
      color: white;
    }
  }
}
#footer-breadcrumbs {
  .breadcrumb {
    background-color: transparent;
    padding-inline-start: 0;
  }
}
