@use "scss/custom";

/*** resets ***/
html,
body,
.dropdown-menu,
.dropdown-header,
#s-lg-guide-header-info h1 {
  font-size: revert;
}
body {
  /* hide horizontal scroll after removing padding */
  overflow-x: hidden;
  padding: 0;
}
/* hide editing header elements while keeping the template intact */
#s-lg-guide-header,
#s-lg-tabs-container,
#s-lg-guide-tabs-title-bar,
#s-lib-footer-public {
  display: none;
}
