.c3-cards-wrapper {
  background-color: #333;
  padding-block-end: 90px;
  figcaption {
    padding-inline: 15px; // TODO $grid-gutter-width
  }
  h3 {
    a {
      color: #333;
    }
  }
  // equal height boxes require only one box per column
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-block: 30px;
  }
  .s-lg-col-boxes {
    height: 100%;
    & > div {
      height: 100%;
    }
  }
  .s-lib-box-container {
    height: 100%;
  }
  .s-lib-box {
    height: 100%;
  }
}
