.c3-highlight {
  h2 {
    border-block-end: medium solid;
    margin-top: 0;
    text-align: center;
  }
  ul {
    margin-bottom: 0;
    text-align: right;
  }
  .row {
    align-items: center;
    display: flex;
    gap: 90px; // TODO $grid-gutter-width
    padding-block: 60px; // TODO $grid-gutter-width
  }
}
.c3-description {
  font-size: larger;
}

// TODO small screens
