.tlw #s-lg-guide-main {
  padding: 0
}

.tlw #cl-bg {
  background: url(https://libapps.s3.amazonaws.com/customers/64/images/pool.jpg) no-repeat bottom left/cover
}

.tlw .cl-bg a,
.tlw .cl-bg header,
.tlw .navbar-default .navbar-nav > li > a,
.tlw #cl-bg .btn-default,
.tlw #cl-bg .s-lib-box {
  color: #fff
}
@media (min-width: 992px) { // TODO $screen-md-min
  .tlw .cl-bg .megamenu a {
    color: #333;
  }
}

.tlw #cl-bg header,
.tlw #cl-bg .btn-default,
.tlw #cl-bg .s-lib-box {
  background: transparent;
}

.tlw #cl-bg .form-control {
  border-color: #fff;
}

.tlw #cl-bg #logo,
.tlw #cl-bg #logo .identity {
  fill: #fff
}

.tlw #cl-bg .branding .dropdown-toggle:focus,
.tlw #cl-bg .branding .dropdown-toggle:hover {
  outline: 1px solid #fff;
}
.tlw #cl-bg .branding .dropdown-toggle:active {
  outline-style: dotted;
}

.tlw #cl-bg .branding .input-group-btn > .btn-default {
  background: #1e988a;
  border-color: #1e988a;
  border-radius: 0;
}

.tlw #cl-bg {
  .navbar-header,
  .navbar-collapse {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.tlw #cl-bg .navbar-default .navbar-toggle:focus,
.tlw #cl-bg .navbar-default .navbar-toggle:hover {
  border-color: #fff;
}

// EBSCO Search Box
.tlw #s-lg-box-28753963 .btn-default {
  background: #987776;
  border-color: #987776;
}

// LibCal Hours
#s-lg-box-28754029 {
  margin: 0;
}
#s-lg-box-wrapper-33811847 {
  background-color: #062e47;
  text-align: center;
}
.hours-today {
  &, * {
    display: block;
  }
  tbody {
    padding-block: 16px; // TODO $font-size-base
  }
  .hours-library {
    padding-block-end: 8px; // TODO $font-size-base
  }
  .hours-col-loc,
  .hours-col-time {
    display: block;
  }
  .hours-col-loc {
    text-align: center;
  }
  .loc3301,
  .loc3109,
  .loc3110,
  .loc19162 {
    display: none;
  }
  .s-lc-timetxt {
    font-weight: 300;
  }
}
// View All Hours Link
#s-lg-content-67017935 {
  a {
    color: #1e988a;
  }
  p {
    margin-block-end: 16px; // TODO $font-size-base
  }
}
