@use "quicklinks";

#home-bg a,
#home-bg header,
.tpl-home .navbar-default .navbar-nav > li > a,
#home-bg .btn-default,
#home-bg .s-lib-box {
  color: #fff
}
@media (min-width: 992px) { // TODO $screen-md-min
  #home-bg .megamenu a {
    color: #333;
  }
}

#home-bg header,
#home-bg .btn-default,
#home-bg .s-lib-box {
  background: transparent;
}

#home-bg .form-control {
  border-color: #fff;
}

#home-bg #logo,
.tlw #cl-bg #logo .identity {
  fill: #fff
}

#home-bg .branding .dropdown-toggle:focus,
#home-bg .branding .dropdown-toggle:hover {
  outline: 1px solid #fff;
}
#home-bg .branding .dropdown-toggle:active {
  outline-style: dotted;
}

#home-bg .branding .input-group-btn > .btn-default {
  background: #1e988a;
  border-color: #1e988a;
  border-radius: 0;
}

#home-bg {
  .navbar-header,
  .navbar-collapse {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

#home-bg .navbar-default .navbar-toggle:focus,
#home-bg .navbar-default .navbar-toggle:hover {
  border-color: #fff;
}

#home-bg .collections-search {
  .glyphicon-search {
    vertical-align: sub;
  }
}
