// hours appear on the home page & in the footer
// styles here are applicable to both
.s-lc-w-today {
  &, * {
    display: block;
  }
  tbody {
    padding-block: 15px; // TODO $grid-gutter-width
  }
}
.s-lc-w-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.s-lc-w-head {
  font-size: large;
  font-weight: normal;
  text-align: unset;
}
.s-lc-w-head-pre {
  display: none;
}
.s-lc-w-today-view-all {
  display: none;
}
