.c3-landing {
  .c3-page-title {
    background-color: #333;
    color: #fff;
  }
}
.c3-landing-cards {
  background-color: #333;
  .container {
    margin-block-start: 15px; // TODO
  }
}
.c3-pwl {
  &.c3-landing {
    .c3-page-title {
      background-color: #644b78;
    }
  }
  .c3-landing-cards {
    background-color: #644b78;
  }
}
.s-lib-box {
  margin-block: 15px;
}
