@use "quicklinks";

.c3-landing {
  h1 {
    display: inline-block;
    margin: 0;
    padding: 30px 60px; // TODO $grid-gutter-width
  }
  .c3-page-title {
    background-color: #333;
    background-size: contain;
    color: #fff;
    text-align: center;
  }
  .c3-quicklinks {
    @extend %quicklinks;
  }
}
#c3-introduction-row {
  align-items: center;
  display: flex;
  gap: 90px; // TODO $grid-gutter-width
  padding-block: 60px; // TODO $grid-gutter-width
}
.c3-description {
  font-size: larger;
}
.c3-cards {
  background-color: #333;
}
@mixin section-landing($name, $primary-color, $secondary-color) {
  .c3-#{$name} {
    &.c3-landing {
      .c3-page-title {
        background-color: $primary-color;
        background-image: url(https://libapps.s3.amazonaws.com/customers/64/images/#{$name}.png);
      }
      h1 {
        background-color: $primary-color;
      }
    }
    .c3-quicklinks {
      a {
        &:active,
        &:focus {
          outline-color: $secondary-color;
        }
          &::after {
          color: $secondary-color;
        }
      }
      h2 {
        color: $primary-color;
        border-block-end-color: $secondary-color;
      }
    }
    .c3-cards {
      background-color: $primary-color;
    }
  }
}
@include section-landing("abt", #062e47, #1e988a);
@include section-landing("sbr", #005851, #987776);
@include section-landing("pwl", #644b78, #73a950);
@include section-landing("ptt", #a02276, #76777b);
@include section-landing("asc", #c75000, #849895);
