@use "home";
@use "../common/placeholders" as *;

$archives-primary-color: #c75000;
$archives-secondary-color: #849895;

#home-bg.ca-bg {
  background: url(https://libapps.s3.amazonaws.com/customers/64/images/shelves.jpg) no-repeat bottom left/cover $archives-primary-color;
  padding-block-end: 90px;
}
#tpl-a-home #home-bg-2 {
  background: linear-gradient(transparent, 60%, #fff), url(https://libapps.s3.amazonaws.com/customers/64/images/shelvesfaded.jpg) no-repeat top left/cover;
}

#home-bg .ca-description {
  color: #fff;
  font-size: larger;
  margin-block-start: 24px;
  @media (min-width: 992px) {
    margin-block: 64px 96px;
  }
}

#home-bg-2 .s-lib-box {
  background: transparent;
}

// Archives Home Search
@media (min-width: 992px) {
  #s-lg-box-28835168 {
    margin-block-start: 96px;
    h2 {
      margin-block-start: 0;
    }
  }
  #s-lg-box-28834088 {
    margin-block-end: 96px;
  }
}

// Alerts
#s-lg-box-wrapper-33997382 {
  margin-block: 30px;
  @media (min-width: 768px) {
    margin-block: 45px;
  }
  .alert:last-of-type {
    margin-block-end: 0;
  }
}

// blog widget
#s-lg-widget-1653629897969 {
  & > ul {
    list-style: none;
    padding: 0;
    & > li {
      background-color: #fff;
      border: 3px solid $archives-secondary-color;
      margin-block: 30px;
      padding: 1rem;
      h3 {
        margin: 1rem 0.5rem 1.5rem 0.5rem;
      }
      img {
        margin: auto;
        margin-block-end: 0.5rem;
        min-width: 100%;
      }
      p {
        margin: 0.5rem;
      }
      .text-secondary {
        font-size: small;
        margin: 0.1rem 0.5rem 1.5rem 0.5rem;
      }
      // see libguides.js for class logic
      @media (min-width: 420px) {
        .img-xs {
          min-width: unset;
        }
        .img-narrow {
          min-width: unset;
          width: 238px;
        }
      }
      @media (min-width: 580px) and (max-width: 767px) {
        .img-sm {
          min-width: unset;
          width: 238px;
        }
      }
      &:nth-of-type(odd) {
        @media (min-width: 420px) {
          .img-xs,
          .img-narrow {
            float: right;
            margin-inline-start: 0.5rem;
          }
        }
        @media (min-width: 580px) and (max-width: 767px) {
          .img-sm {
            float: right;
            margin-inline-start: 0.5rem;
          }
        }
      }
      &:nth-of-type(even) {
        @media (min-width: 420px) {
          .img-xs,
          .img-narrow {
            float: left;
            margin-inline-end: 0.5rem;
          }
        }
        @media (min-width: 580px) and (max-width: 767px) {
          .img-sm {
            float: left;
            margin-inline-end: 0.5rem;
          }
        }
      }
    }
  }
}
// link to Archives tag /blog?tag_id=213658
#s-lg-content-67209512 {
  @extend %right-aligned-arrow-list;
  text-align: right;
  a {
    &:active,
    &:focus {
      outline-color: $archives-secondary-color;
    }
      &::after {
      color: $archives-secondary-color;
    }
  }
}

// LibCal Hours
#s-lg-box-wrapper-33915545 {
  background-color: $archives-secondary-color;
  text-align: center;
}
#s-lg-box-28843122 {
  color: #fff;
  margin: 0;
  a {
    color: #fff;
  }
}
#tpl-a-home .hours-today {
  &, * {
    display: block;
  }
  tbody {
    padding-block: 16px; // TODO $font-size-base
  }
  .hours-library {
    display: none; // hide all; unhide specific locations
    padding-block-end: 8px; // TODO $font-size-base
  }
  .hours-col-loc,
  .hours-col-time {
    display: block;
  }
  .hours-col-loc {
    text-align: center;
  }
  .loc3297,
  .loc24043 {
    display: block;
  }
  .s-lc-timetxt {
    font-weight: 300;
  }
}
// View All Hours Link
#s-lg-content-67091738 {
  p {
    margin-block-end: 16px; // TODO $font-size-base
  }
}

// Quick Links
#s-lg-box-wrapper-33915559 {
  background-color: $archives-secondary-color;
}
#s-lg-box-28843130 {
  @extend %right-aligned-arrow-list;
  margin-block: 30px;
  a {
    &:active,
    &:focus {
      outline-color: $archives-secondary-color;
    }
      &::after {
      color: $archives-secondary-color;
    }
  }
  h2 {
    color: $archives-primary-color;
    border-block-end-color: $archives-secondary-color;
  }
}

// Connect Links
#s-lg-box-28843134 {
  font-size: large;
  line-height: 2;
  padding: 32px 30px;
  @media (min-width: 768px) {
    & {
      padding: 48px 45px;
    }
  }
  a {
    color: #fff;
  }
  ul {
    margin: 0;
  }
  .fa {
    padding-inline-end: 0.5em;
  }
}

.c3-asc {
  #c3-sidenav {
    & > ul {
      & > li {
        &:first-of-type {
          border-block-end: #fff solid thin;
          color: #fff;
          margin-block-end: 0.5em;
          &::before {
            content: unset;
          }
        }
      }
    }
  }
}
