$text-color: #333;
$branding-link-color: $text-color;

#logo {
  fill: transparent;
  overflow: visible;
  a:focus {
    outline: unset;
    rect {
      stroke: highlight;
      stroke-width: 4px;
    }
  }
  path {
    fill: #333;
  }
  .caltech-logotype {
    fill: #ff6c0c;
  }
}

.branding {
  margin-block-end: 30px; // TODO $grid-gutter-width
  padding-block-start: 15px; // TODO $grid-gutter-width
  a {
    color: $branding-link-color;
  }
}
.branding .dropdown-toggle {
  border: none;
}
.branding .fa-search {
  height: 32px;
  top: unset;
}
.branding .input-group {
  display: flex;
  flex-wrap: nowrap;
  width: calc(100vw - 30px); // TODO $grid-gutter-width
}
@media (max-width: 768px) {
  .branding > div:last-of-type {
    // pull element right
    margin-inline-start: auto;
  }
  .branding .list-inline > li:last-of-type {
    // flush with other right-side elements
    padding-inline-end: 0;
  }
}
@media (min-width: 400px) and (max-width: 529px) {
  .branding > div:first-of-type {
    width: 50vw;
    .c3-asc {
      & {
        width: 70vw;
      }
      .branding > div:last-of-type {
        float: right;
      }
    }
  }
}
@media (min-width: 530px) and (max-width: 767px) {
  .branding {
    display: flex;
  }
  .branding > div:first-of-type {
    width: 40vw;
    .c3-asc {
      & {
        width: 60vw;
      }
    }
  }
  .branding .input-group {
    width: calc(50vw - 15px); // TODO $grid-gutter-width
  }
}
@media (min-width: 768px) { // TODO $screen-sm-min
  .branding .input-group {
    width: calc(33vw);
  }
}

// BS5 additions
// style search button
.branding .dropdown-toggle {
  background-color: transparent;
  border-color: transparent;
  color: #000;
}
.branding .dropdown-toggle:hover,
.branding .dropdown-toggle:focus {
  background-color: #ccc;
  border-color: transparent;
  color: #000;
}

// search dropdown
.branding .dropdown-menu {
  background-color: #fff;
  border: none;
  min-width: 300px;
  padding: 10px;
  z-index: 1001;
}

.branding .input-group .form-control {
  border: 1px solid #ced4da !important;
  flex: 1;
}
.branding .input-group .btn-secondary {
  background-color: #ccc !important;
  border-color: #ced4da !important;
  color: #333 !important;
  border-radius: 0;
  &:hover,
  &:focus {
    background-color: #d3d9df;
    border-color: #ced4da;
    color: #333;
  }
}
