// equal height boxes require only one box per column
.equalheights {
  @media (min-width: 992px) {
    display: flex;
    flex-wrap: wrap;
    .s-lg-col-boxes {
      height: 100%;
      & > div {
        height: 100%;
      }
    }
    .s-lib-box-container {
      height: 100%;
    }
    .s-lib-box {
      height: 100%;
    }
  }
}
