@use "../common/colors" as *;

/* libguides/_exhibits.scss */

.digital-exhibits.c3-asc.c3-content .c3-page-title {
  // revert color that is set because of the .c3-content class added with js
  color: white;
}

.digital-exhibits #c3-introduction-row {
  padding-block: 30px;
  @media screen and (min-width: 768px) {
    // mimicking the value in the _landing.scss file
    align-items: center;
    display: flex;
    padding-block: 60px;
  }
  & > div:first-child {
    margin-block-end: 15px;
    @media screen and (min-width: 768px) {
      margin-block-end: 0;
    }
  }
}

.digital-exhibits .s-lg-tab-top-link span::before {
  // change the page title when it is rendered in the menu
  content: "All ";
}

.digital-exhibits .nav-pills > li {
  & > a {
    border-radius: unset;
  }
  & > a.dropdown-toggle {
    display: none;
  }
  & > a.pull-left {
    float: none !important;
  }
  &.active > a, &.active > a:hover, &.active > a:focus {
    background-color: $burnt;
  }
  &:not(.active) > a:hover, &:not(.active) > a:focus {
    // using a similar style to the menu items in _navbar.scss
    background-color: transparent;
    outline: $burnt solid medium;
  }
}

.exhibit-thumbnails {
  // coordinate with container inline spacing
  padding-block-start: 15px;
  // 400px will be wide enough for thumbnails at their largest displayed size
  column-gap: 30px;
  display: grid;
  row-gap: 30px;
  text-align: center;
  @media screen and (min-width: 432px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    // coordinate with row & column gaps
    padding-block-start: 30px;
  }
  @media screen and (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
    // coordinate with row & column gaps
    padding-block-start: 30px;
  }
  & > div {
    // ensure background extends to the same height for all cards regardless of
    // number of lines of text
    background-color: white;
  }
  figure {
    // overlay caption on image;
    // default is single column with one row for each child element
    display: grid;
    img {
      grid-column: 1/2; // full one-column width
      grid-row: 1/3; // full two-row height
    }
    figcaption {
      background: rgba(255, 255, 255, 0.8); // white with 80% opacity
      grid-column: 1/2; // full one-column width
      grid-row: 2/3; // second row only
      line-height: 1.25;
      padding: 0.75em;
    }
  }
}
