#home-bg a,
#home-bg header,
#home-bg .navbar-light .navbar-nav > li > a,
#home-bg .btn-secondary,
#home-bg .s-lib-box {
  color: #fff;
}
#home-bg .navbar-nav .dropdown-menu a {
  color: #333;
}

#home-bg header,
#home-bg .btn-secondary,
#home-bg .s-lib-box {
  background: transparent;
}

#home-bg .form-control {
  border-color: #fff;
}

#home-bg { // override _branding.scss
  #logo {
    a:focus {
      rect {
        stroke: #fff;
      }
    }
    path {
      fill: #fff;
    }
  }
}

#home-bg .branding .dropdown-toggle:focus,
#home-bg .branding .dropdown-toggle:hover {
  outline: 1px solid #fff;
}
#home-bg .branding .dropdown-toggle:active {
  outline-style: dotted;
}

#home-bg {
  nav {
    background-color: rgba(255, 255, 255, 0.1);
    padding-block: 0;
  }
}

#home-bg .navbar-toggler,
#home-bg .navbar-toggler .fa {
  color: #fff;
}

#home-bg .navbar-nav .nav-link:visited {
  color: #fff;
}

#home-bg .navbar-light .navbar-toggler:focus,
#home-bg .navbar-light .navbar-toggler:hover {
  border-color: #fff;
}

#home-bg .collections-search {
  .fa-search {
    vertical-align: sub;
  }
}
