@use "sass:color";

@mixin caret-after {
  &::after {
    content: "\f054";
    font-family: "FontAwesome";
    margin-left: .33em;
    vertical-align: sub;
  }
}

.navbar-toggler {
  float: none;
  font-size: larger;
  margin: 0 15px; // TODO $grid-gutter-width
  .fa {
    padding-inline-end: 0.5em;
  }
}

// center navbar
@media (min-width: 992px) { // TODO $screen-md-min
  .navbar-nav {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
}
// center max-width megamenu
.megamenu {
  max-width: 1200px; // TODO $screen-lg-min
  margin: 0 auto;
  left: 0;
  right: 0;
}

@mixin navbar-section($name, $primary-color) {
  ##{$name} {
    &:focus,
    &:hover,
    .show > &,
    .show > &:focus,
    .show > &:hover {
      background-color: $primary-color;
    }
    & + .dropdown-menu a:focus,
    & + .dropdown-menu a:hover {
      outline-color: $primary-color;
    }
  }
}
@include navbar-section("abt", #062e47);
@include navbar-section("sbr", #005851);
@include navbar-section("pwl", #644b78);
@include navbar-section("ptt", #a02276);
@include navbar-section("asc", #c75000);

.navbar-nav {
  // archives navbar does not have a megamenu and needs small adjustments
  .c3-asc & .dropdown-menu {
    overflow: visible;
    padding-inline: 15px;
    a {
      margin: 0;
      &:focus,
      &:hover {
        background-color: transparent;
      }
    }
  }
  .dropdown-header {
    padding: 0;
    font-size: large;
    font-weight: normal;
    text-transform: none;
    > a:not(.clg-tooltip) {
      @include caret-after();
      padding-inline-start: 0;
    }
  }
  .dropdown-divider + .dropdown-header {
    color: #333;
    font-weight: normal;
    margin-inline-start: 1rem;
  }
  .dropdown-menu {
    a {
      color: #333;
      display: inline-block; // NOTE: affects block spacing
      margin-inline-start: 1rem;
      padding: 0.25rem;
      &:focus,
      &:hover {
        outline: solid medium;
        text-decoration: none;
      }
    }
    .clg-tooltip {
      cursor: help;
      font-size: medium;
      margin: 0;
      padding: 0;
    }
  }
  .follow-icons a {
    display: inline-block;
    padding-block-start: 0.5rem;
    padding-inline: 0.5rem;
    &:first-child {
      margin-inline-start: 0.75rem;
    }
  }
  .show .dropdown-menu .dropdown-header {
    padding: 0;
  }
}
.dropdown-menu.megamenu.show {
  display: flex;
  flex-wrap: wrap;
}
.megamenu {
  overflow: visible; // some tooltip text extends past the edge of the menu area
  padding-block: 0; // reset (set on > li)
  & > li {
    padding-block-start: 15px; // TODO $grid-gutter-width
    @media (min-width: 992px) { // TODO $screen-md-min
      padding-block-end: 15px; // TODO $grid-gutter-width
    }
  }
  li {
    list-style: none;
    & > ul:not([class*="col-"]) {
      padding: 0;
      margin: 0;
    }
  }
}
.megatoggle {
  position: static !important;
}

#asc-home {
  font-size: larger;
  padding-block-end: 0;
  a {
    display: block;
    margin-inline-start: 0;
    &:focus,
    &:hover {
      background-color: transparent;
    }
  }
  .fa {
    padding-inline-end: 0.5em;
  }
}

// BS5 additions
.navbar-nav .dropdown-toggle::after,
button.dropdown-toggle::after {
  display: none;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  text-decoration: none;
}

.navbar-expand-lg {
  --bs-navbar-nav-link-padding-x: 15px;
}

.navbar-nav .dropdown-header:not(:has(a)) {
  color: #333;
  display: inline-block;
  margin-inline-start: 1rem;
  padding: 0.25rem;
}

// fix hover state on guide nav
.s-lg-guide-body .navbar-nav {
  --bs-nav-link-hover-color: #fff;
  --bs-nav-link-color: #000;
}

.s-lg-guide-body .navbar-nav .show > .nav-link,
.s-lg-guide-body .navbar-nav .nav-link[aria-expanded="true"] {
  --bs-nav-link-color: #fff;
  color: #fff;
}

// fixing archives dropdown menu
.c3-landing .megamenu {
  position: absolute;
}
