<ul class="cl-blog-widget">
  <li id="lib-blogpost0">
    <h3><a href="https://library.caltech.edu/blog/a-welcome-to-fall-from-our-university-librarian">A Welcome to Fall 2026 from Our University Librarian</a></h3>
    <div class="post-date text-secondary">September 25, 2026</div>
    <p>In many parts of the world, the change in seasons is marked by the turning of the leaves. This may not be the case throughout Caltech’s campus, but regardless, the seasons are changing, and the energy of a new academic year is palpable. I want to extend a warm welcome to all new and returning arrivals. To faculty and researchers: Caltech’s librarians are an integral part of campus, and you likely...</p>
    <a href="https://library.caltech.edu/blog/a-welcome-to-fall-from-our-university-librarian" class="read-more">View Full Post</a>
  </li>
  <li id="lib-blogpost1">
    <h3><a href="https://library.caltech.edu/blog/resources-and-reading-to-celebrate-latinx-hispanic-heritage-month">Resources and Reading to Celebrate Latinx + Hispanic Heritage Month</a></h3>
    <div class="post-date text-secondary">September 28, 2026</div>
    <img class="lib-blogpost-img" src="https://d2jv02qf7xgjwx.cloudfront.net/accounts/168684/images/banner-latinxhispanicheritagemonth.jpg" alt="">
    <p>In 1968, President Johnson declared a week-long celebration of Hispanic Heritage Week which would eventually expand to a month-long celebration from mid-September to mid-October. We honor the rich culture and impact of Latinx and Hispanic Americans woven into our histories and identity specifically in time frame as many Central American countries declared their independence during this time....</p>
    <a href="https://library.caltech.edu/blog/resources-and-reading-to-celebrate-latinx-hispanic-heritage-month" class="read-more">View Full Post</a>
  </li>
</ul>
