<ul class="cl-blog-list">
  <li class="cl-blog-item cl-blog-item--featured">
    <p class="cl-blog-badge">Featured</p>
    <h3 class="cl-blog-title"><a href="https://library.caltech.edu/blog/caltechdata-expanded-storage">CaltechDATA Launches Expanded Storage Quotas</a></h3>
    <p class="cl-blog-meta text-secondary">June 26, 2026</p>
    <p class="cl-blog-excerpt">Caltech Library is pleased to announce expanded storage allocations for the CaltechDATA repository, made possible through a National Science Foundation Campus Cyberinfrastructure grant. All…</p>
  </li>
  <li class="cl-blog-item">
    <h3 class="cl-blog-title"><a href="https://library.caltech.edu/blog/responding-to-open-science-framework-changes">Responding to Open Science Framework Changes</a></h3>
    <p class="cl-blog-meta text-secondary">August 12, 2026</p>
    <p class="cl-blog-excerpt">Caltech Library is committed to supporting researchers through the upcoming changes to the Open Science Framework (OSF). Files that would have been previously part of an OSF Project can be uploaded…</p>
  </li>
  <li class="cl-blog-item">
    <h3 class="cl-blog-title"><a href="https://library.caltech.edu/blog/reflections-summer-2026">Reflections from the University Librarian, Summer 2026</a></h3>
    <p class="cl-blog-meta text-secondary">June 25, 2026</p>
    <p class="cl-blog-excerpt">With the summer solstice now behind us, I cannot but take a few minutes to reflect on the past academic year and my first year as University Librarian at Caltech. For me, this was the year of firsts:…</p>
  </li>
  <li class="cl-blog-item">
    <h3 class="cl-blog-title"><a href="https://library.caltech.edu/blog/george-rossman-oral-history-now-online">George Rossman Oral History Now Online</a></h3>
    <p class="cl-blog-meta text-secondary">June 8, 2026</p>
    <p class="cl-blog-excerpt">Professor of Mineralogy, Emeritus, George Rossman (1944–2026), whose history of having “no formal training whatsoever in geology” never stood in the way of his becoming an internationally renowned…</p>
  </li>
</ul>
