<ul class="cl-blog-widget">
  <li id="lib-blogpost0">
    <h3><a href="https://library.caltech.edu/blog/a-welcome-to-fall-from-our-university-librarian">A Welcome to Fall from Our University Librarian</a></h3>
    <div class="post-date text-secondary">September 25, 2026</div>
    <img class="lib-blogpost-img" src="https://d2jv02qf7xgjwx.cloudfront.net/accounts/168684/images/fall-2026-UL-message.jpg" alt="">
    <p>In many parts of the world, the change in seasons is marked by the turning of the leaves. This may not be the case throughout Caltech’s campus, but regardless, the seasons are changing, and the energy of a new academic year is palpable. I want to extend a warm welcome to all new and returning arrivals. To faculty and researchers: Caltech’s librarians are an integral part of campus, and you likely...</p>
    <a href="https://library.caltech.edu/blog/a-welcome-to-fall-from-our-university-librarian" class="read-more">View Full Post</a>
  </li>
  <li id="lib-blogpost1">
    <h3><a href="https://library.caltech.edu/blog/a-long-ago-diary-entry-and-a-caltech-anniversary">A Long-Ago Diary Entry and a Caltech Anniversary</a></h3>
    <div class="post-date text-secondary">September 1, 2026</div>
    <img class="lib-blogpost-img" src="https://d2jv02qf7xgjwx.cloudfront.net/accounts/297487/images/ThroopCollage2.jpg" alt="">
    <p>That Caltech is a worldwide leader in science and engineering is of course well known. That the Institute was founded by a staunch abolitionist who in 1850 was hanged and burned in effigy in Chicago for an anti-slavery speech that even Abraham Lincoln in those pre-Civil War days considered too radical to safely deliver in public is not so widely appreciated. The intrepid speaker was Amos Gager...</p>
    <a href="https://library.caltech.edu/blog/a-long-ago-diary-entry-and-a-caltech-anniversary" class="read-more">View Full Post</a>
  </li>
</ul>
