/* RESETS */
#s-lg-guide-main {
  padding: 0;
}
.s-lib-box {
  margin: unset;
  @media (max-width: 991px) { // TODO $screen-md-max
    background: transparent;
  }
}

h1, .h1 { font-size: 38px; }
h2, .h2 { font-size: 30px; }
h3, .h3 { font-size: 24px; }
h4, .h4 { font-size: 18px; }
h5, .h5 { font-size: 14px; }
h6, .h6 { font-size: 10px; }

h1, .h1, h2, .h2, h3, .h3 { margin-block-end: 16px; }
