$text-color: #333;
$branding-link-color: $text-color;

#logo {
  .identity {
    fill: #ff6c0c;
  }
}

.branding {
  margin-block-end: 30px; // TODO $grid-gutter-width
  padding-block-start: 15px; // TODO $grid-gutter-width
  a {
    color: $branding-link-color;
  }
}
.branding .dropdown-toggle {
  border: none;
  height: 32px;
}
.branding .glyphicon-search {
  height: 32px;
  top: unset;
}
.branding .dropdown-menu {
  border: none;
  padding: 0;
  z-index: 1001;
}
.branding .input-group {
  width: calc(100vw - 30px); // TODO $grid-gutter-width
}
@media (max-width: 768px) {
  .branding > div:last-of-type {
    // pull element right
    margin-inline-start: auto;
  }
  .branding .list-inline > li:last-of-type {
    // flush with other right-side elements
    padding-inline-end: 0;
  }
}
@media (min-width: 400px) and (max-width: 529px) {
  .branding > div:first-of-type {
    width: 50vw;
  }
}
@media (min-width: 530px) and (max-width: 767px) {
  .branding {
    display: flex;
  }
  .branding > div:first-of-type {
    width: 40vw;
  }
  .branding .input-group {
    width: calc(50vw - 15px); // TODO $grid-gutter-width
  }
}
@media (min-width: 768px) { // TODO $screen-sm-min
  .branding .input-group {
    width: calc(33vw);
  }
}
