.c3-cards-wrapper {
  background-color: #333;
  padding-block-end: 90px;
  padding-block-start: 15px;
  @media (min-width: 768px) { // TODO $screen-sm-min
    padding-block-start: 30px;
  }
  @media (min-width: 992px) { // TODO $screen-sm-min
    padding-block-start: 0;
  }
  figcaption {
    padding-inline: 15px; // TODO $grid-gutter-width
  }
  h3 {
    a {
      color: #333;
    }
  }
  .row {
    margin-block-start: 30px;
  }
  .s-lib-box {
    background-color: #fff;
  }
  .s-lib-box {
    margin-block-end: 15px;
    @media (min-width: 768px) {
      margin-block-end: 30px;
    }
    @media (min-width: 992px) {
      margin-block-end: 0;
    }
  }
}
