$tarawera: #062e47;
$jungle: #1e988a;

$sherpa: #005851;
$bazaar: #987776;

$mulled: #644b78;
$chelsea: #73a950;

$hibiscus: #a02276;
$jumbo: #76777b;

$burnt: #c75000;
$granny: #849895;

$monza: #cf0a2c;
