#footer-wrapper {
  background-color: #062e47;
  border-radius: 0 30% 0 0 / 5%;
  margin-block-start: 90px;
  @media (min-width: 768px) {
    border-radius: 0 30% 0 0 / 10%;
  }
  @media (min-width: 992px) {
    border-radius: 0 30% 0 0 / 20%;
  }
  footer {
    color: white;
    a {
      color: white;
      &:focus,
      &:hover {
        color: white;
      }
      &:active,
      &:focus {
        outline: #1e988a solid medium;
        text-decoration: none;
      }
    }
    abbr[title] {
      text-decoration: none;
    }
    .contact .social a {
      display: inline-block;
      &:not(:last-child) {
        margin-inline-end: 30px; // TODO $grid-gutter-width
      }
      svg {
        height: 32px;
      }
    }
    .h-card {
      .u-email,
      .p-tel {
        line-height: 2;
      }
      .u-email,
      .p-tel,
      .p-name {
        display: block;
      }
      .p-name {
        margin-block-start: 24px; // TODO $font-size-base
      }
      .p-locality::after {
        content: ",";
      }
    }
    .logo {
      fill: #fff;
      margin-block: 24px; // same as footer headings
      height: 5em; // “Caltech” feels the right size
    }
    .links {
      line-height: 2;
    }
    // hours
    .s-lc-w-today {
      &, * {
        display: block;
      }
      tbody {
        padding-block: 16px; // TODO $font-size-base
      }
    }
    .s-lc-w-sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
    .s-lc-w-head-pre {
      display: none;
    }
    .s-lc-w-head {
      display: flex;
      font-size: large;
      font-weight: normal;
      justify-content: space-between;
      text-align: unset;
    }
    .s-lc-w-btn {
      background: transparent;
      border: none;
      padding: 0;
    }
    .s-lc-w-next {
      font-size: 0;
      order: 1;
      &::before {
        content: "\e092";
        font-family: "Glyphicons Halflings";
        font-size: 24px;
        line-height: 0.5;
      }
    }
    .s-lc-w-previous {
      font-size: 0;
      &::before {
        content: "\e091";
        font-family: "Glyphicons Halflings";
        font-size: 24px;
        line-height: 0.5;
      }
    }
    .s-lc-w-location {
      border-block-end: #fff dotted thin;
      display: flex;
      justify-content: space-between;
      line-height: 1;
      padding-block: 8px;
    }
    .c3-asc & {
      .s-lc-w-lid-3297,
      .s-lc-w-lid-19226 {
        color: #c75000;
      }
    }
    .s-lc-w-time {
      text-align: right; // for when hours wrap
      & > * {
        display: inline-block;
      }
    }
    .s-lc-w-today-view-all {
      display: none;
    }
    .hours footer {
      display: flex;
      justify-content: space-between;
    }
  }
}

#s-lib-bc-list.breadcrumb {
  font-size: revert;
  font-weight: normal;
  margin-block: 15px; // TODO $grid-gutter-width
  max-width: 80%; // keep within border-radius
  & > .active {
    color: #1e988a;
  }
  .c3-asc & > .active {
    color: #c75000;
  }
}
@media (min-width: 1280px) {
  #s-lib-bc-list.breadcrumb {
    max-width: 90%; // keep within border-radius
  }
}
@media (min-width: 1600px) {
  #s-lib-bc-list.breadcrumb {
    max-width: 100%; // keep within border-radius
  }
}
