@use "quicklinks";

.c3-landing {
  h1 {
    display: inline-block;
    margin: 0;
    padding: 30px 60px; // TODO $grid-gutter-width
  }
  .c3-page-title {
    background-color: #333;
    background-size: contain;
    color: #fff;
    text-align: center;
  }
  .c3-description {
    font-size: larger;
    margin-block: 30px;
  }
  .c3-quicklinks {
    @extend %quicklinks;
    margin-block: 30px;
  }
}
#c3-introduction-row {
  @media (min-width: 992px) { // TODO $screen-md-min
    padding-block: 60px; // TODO $grid-gutter-width
  }
  .col-md-6 {
    @media (min-width: 992px) { // TODO $screen-md-min
      padding-inline: 60px; // TODO $grid-gutter-width
    }
  }
}
@mixin section-landing($name, $primary-color, $secondary-color) {
  .c3-#{$name} {
    &.c3-landing {
      .c3-page-title {
        background: linear-gradient(to right, $primary-color 80%, $secondary-color);
      }
    }
    .c3-quicklinks {
      a {
        &:active,
        &:focus {
          outline-color: $secondary-color;
        }
          &::after {
          color: $secondary-color;
        }
      }
      h2 {
        color: $primary-color;
        border-block-end-color: $secondary-color;
      }
    }
    .c3-cards-wrapper {
      background: linear-gradient($primary-color 80%, #fff);
      h3 {
        a {
          color: $primary-color;
        }
      }
    }
  }
}
@include section-landing("abt", #062e47, #1e988a);
@include section-landing("sbr", #005851, #987776);
@include section-landing("pwl", #644b78, #73a950);
@include section-landing("ptt", #a02276, #76777b);
@include section-landing("asc", #c75000, #849895);
