@use "home";

$home-primary-color: #062e47;
$home-secondary-color: #1e988a;

#home-bg.cl-bg {
  background: url(https://libapps.s3.amazonaws.com/customers/64/images/pool.jpg) no-repeat bottom left/cover;
}
#tpl-l-home #home-bg-2 {
  background: linear-gradient(transparent, 60%, #fff), url(https://libapps.s3.amazonaws.com/customers/64/images/poolfaded.jpg) no-repeat top left/cover;
}

// Search Heading
@media (min-width: 992px) {
  #s-lg-box-28757351 {
    margin-block-start: 80px;
  }
}
// EBSCO Search Box
.tlw #s-lg-box-28753963 .btn-default {
  background: #987776;
  border-color: #987776;
}

// Database Links
#s-lg-box-28754106 {
  line-height: 2;
  padding: 30px;
  ul {
    margin: 0;
  }
  .fa {
    padding-inline-end: 0.5em;
  }
}

// LibCal Hours
#s-lg-box-28754029 {
  margin: 0;
}
#s-lg-box-wrapper-33811847 {
  background-color: #062e47;
  text-align: center;
}
.tlw .hours-today {
  &, * {
    display: block;
  }
  tbody {
    padding-block: 16px; // TODO $font-size-base
  }
  .hours-library {
    display: none; // hide all; unhide specific locations
    padding-block-end: 8px; // TODO $font-size-base
  }
  .hours-col-loc,
  .hours-col-time {
    display: block;
  }
  .hours-col-loc {
    text-align: center;
  }
  .loc3107,
  .loc3108,
  .loc3297 {
    display: block;
  }
  .s-lc-timetxt {
    font-weight: 300;
  }
}
// View All Hours Link
#s-lg-content-67017935 {
  a {
    color: #1e988a;
  }
  p {
    margin-block-end: 16px; // TODO $font-size-base
  }
  .fa {
    padding-inline-end: 0.5em;
  }
}

// .t-l-home class set in template
.t-l-home {
  .c3-quicklinks {
    @extend %quicklinks;
    a {
      &:active,
      &:focus {
        outline-color: $home-secondary-color;
      }
        &::after {
        color: $home-secondary-color;
      }
    }
    h2 {
      color: $home-primary-color;
      border-block-end-color: $home-secondary-color;
    }
  }
}

#tpl-l-home {
  .equalheights {
    a {
      color: $home-secondary-color;
    }
    figcaption {
      padding-inline: 15px;
      @media (min-width: 1200px) {
        padding-inline: 30px;
      }
    }
    h3 {
      font-size: x-large;
      margin-block-start: 1rem;
    }
    .s-lg-col-boxes {
      @media (min-width: 1200px) {
        padding-inline: 15px;
      }
    }
    .s-lib-box {
      background-color: #fff;
    }
    .s-lib-box {
      margin-block-end: 15px;
      @media (min-width: 768px) {
        margin-block-end: 30px;
      }
      @media (min-width: 992px) {
        margin-block-end: 0;
      }
    }
  }
}
// image/caption overlay
#s-lg-box-28870702 {
  position: relative;
  figcaption {
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, #000, 80%, transparent);
    padding: 0.5rem 1rem 0;
    width: 100%;
    text-align: right;
  }
}
// headings
#s-lg-box-28870942,
#s-lg-box-28870935,
#s-lg-box-28870775,
#s-lg-box-28870812 {
  h2 {
    color: $home-primary-color;
  }
}

// block-start
#s-lg-box-28870608, // video
#tpl-l-home #home-bg-2 h2 {
  margin-block-start: 30px;
  @media (min-width: 992px) {
    margin-block-start: 90px;
  }
}
