@use "sass:color";

@mixin caret-after {
  &::after {
    content: "\e092";
    font-family: "Glyphicons Halflings";
    margin-left: .33em;
    vertical-align: sub;
  }
}

.navbar-toggle {
  float: none;
  font-size: larger;
  margin: 0 15px; // TODO $grid-gutter-width
  .fa {
    padding-inline-end: 0.5em;
  }
}

// center navbar
@media (min-width: 992px) { // TODO $screen-md-min
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
  }
}
// center max-width megamenu
.megamenu {
  max-width: 1200px; // TODO $screen-lg-min
  margin: 0 auto;
  left: 0;
  right: 0;
}

@mixin navbar-section($name, $primary-color) {
  ##{$name} {
    &:focus,
    &:hover,
    .open > &,
    .open > &:focus,
    .open > &:hover {
      background-color: $primary-color;
    }
    & + .dropdown-menu a:focus,
    & + .dropdown-menu a:hover {
      outline-color: $primary-color;
    }
  }
}
@include navbar-section("abt", #062e47);
@include navbar-section("sbr", #005851);
@include navbar-section("pwl", #644b78);
@include navbar-section("ptt", #a02276);
@include navbar-section("asc", #c75000);

.navbar-nav {
  // archives navbar does not have a megamenu and needs small adjustments
  .c3-asc & .dropdown-menu {
    overflow: visible;
    padding-inline: 15px;
    a {
      margin: 0;
      &:focus,
      &:hover {
        background-color: transparent;
      }
    }
  }
  .dropdown-header {
    padding: 0;
    font-size: large;
    font-weight: normal;
    text-transform: none;
    > a:not(.clg-tooltip) {
      @include caret-after();
      padding-inline-start: 0;
    }
  }
  .divider + .dropdown-header {
    @include caret-after();
    color: #333;
    font-weight: normal;
    margin-inline-start: 1rem;
  }
  .dropdown-menu {
    a {
      color: #333;
      display: inline-block; // NOTE: affects block spacing
      margin-inline-start: 1rem;
      padding: 0.25rem;
      &:focus,
      &:hover {
        outline: solid medium;
        text-decoration: none;
      }
    }
    .clg-tooltip {
      cursor: help;
      font-size: medium;
      margin: 0;
      padding: 0;
    }
  }
  .follow-icons a {
    display: inline-block;
    padding-block-start: 0.5rem;
    padding-inline: 0.5rem;
    &:first-child {
      margin-inline-start: 0.75rem;
    }
  }
  .open .dropdown-menu .dropdown-header {
    padding: 0;
  }
}
.megamenu {
  overflow: visible; // some tooltip text extends past the edge of the menu area
  padding-block: 0; // reset (set on > li)
  & > li {
    padding-block-start: 15px; // TODO $grid-gutter-width
    @media (min-width: 992px) { // TODO $screen-md-min
      padding-block-end: 15px; // TODO $grid-gutter-width
    }
  }
  li {
    list-style: none;
    & > ul:not([class*="col-"]) {
      padding: 0;
      margin: 0;
    }
  }
}
.megatoggle {
  position: static !important;
}

#asc-home {
  font-size: larger;
  padding-block-end: 0;
  a {
    display: block;
    margin-inline-start: 0;
    &:focus,
    &:hover {
      background-color: transparent;
    }
  }
  .fa {
    padding-inline-end: 0.5em;
  }
}
