@use "sass:color";

.navbar-toggle {
  float: none;
  margin: 0 15px; // TODO $grid-gutter-width
  .glyphicon {
    padding-inline-end: 0.5em;
  }
}

// center navbar
@media (min-width: 992px) { // TODO $screen-md-min
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
  }
}
// center max-width megamenu
.megamenu {
  max-width: 1200px; // TODO $screen-lg-min
  margin: 0 auto;
  left: 0;
  right: 0;
}

@mixin navbar-section($name, $bg-color) {
  ##{$name} {
    &:focus,
    &:hover,
    .open > &,
    .open > &:focus,
    .open > &:hover {
      background-color: $bg-color;
    }
  // & + .dropdown-menu {
  //   background-color: mix(white, $bg-color, 90%);
  // }
  }
}
@include navbar-section("abt", #062e47);
@include navbar-section("sbr", #005851);
@include navbar-section("pwl", #644b78);
@include navbar-section("ptt", #a02276);
@include navbar-section("asc", #c75000);

// item spacing
.navbar-nav {
  // archives navbar does not have a megamenu and needs a little padding
  .c3-asc & .dropdown-menu {
    padding-inline: 15px;
  }
  .dropdown-header {
    padding: 0;
    font-size: large;
    text-transform: none;
    a {
      &::before {
        content: '\25BE';
        margin-left: -1em;
        margin-right: .33em;
      }
    }
  }
  .open .dropdown-menu .dropdown-header {
    padding: 0;
  }
}
.megamenu {
  padding-block: 0; // reset (set on > li)
  & > li {
    padding-block-start: 15px; // TODO $grid-gutter-width
    @media (min-width: 992px) { // TODO $screen-md-min
      padding-block-end: 15px; // TODO $grid-gutter-width
    }
  }
  li {
    list-style: none;
    & > a {
      display: inline-block; // NOTE: affects block spacing
      padding: 0.25rem 1.25rem;
    }
    & > ul:not([class*="col-"]) {
      padding: 0;
      margin: 0;
    }
  }
}
/* move left into the padding of the menu link element */
a + .clg-tooltip {
  margin-inline-start: -15px;
}
/* override the tooltip with specificity */
.megamenu > li > ul > li > .clg-tooltip {
  padding: 0;
}
