@use "colors" as *;
#s-lg-srch-form {
  .btn-default {
    background-color: $tarawera;
    border-color: $tarawera;
    color: #fff;
    &:hover {
      background-color: mix(black, $tarawera, 40%);
    }
  }
}
#search-alert {
  background-color: #fff;
  border: $burnt solid thin;
  color: #333;
  margin-block-end: 15px;
}
.s-srch-resultlist {
  & > strong {
    font-weight: normal;
    .pagination {
      display: none;
    }
  }
}
#s-lg-srch-content { // specificity needed
  mark, .mark {
    background-color: mix(white, $jungle, 80%);
    padding-block: 0;
  }
  .s-srch-result {
    font-size: unset;
  }
  .s-srch-result-title {
    font-size: large;
  }
  .s-srch-result-meta {
    & > div:first-of-type {
      display: none;
    }
  }
  .s-lg-facet-div-title {
    font-size: large;
  }
  .s-lg-facet-div-content {
    line-height: 1.25;
    .check {
      align-items: flex-start;
      display: flex;
      margin-block-end: 0.5em;
      input {
        margin: 0;
        margin-inline-end: 0.25em;
      }
    }
  }
}
.pagination > li > a,
.pagination > li > span {
  color: $tarawera;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: $tarawera;
  border-color: $tarawera;
}
