@use "../common/base" as *;

/* libcal/_base.scss */

// We can’t bring our own Bootstrap to LibCal, so here are base overrides.

html, body {
    font-size: revert;
}

#s-lc-public-skiplink {
    // NOTE hidden skip link background color shows if block padding is 10px
    padding-block: 5px;
}

.s-lc-c-evt-title {
    font-size: 16px;
}