@use "../common/base" as *;

/* libcal/_base.scss */

// We can’t bring our own Bootstrap to LibCal, so here are base overrides.

html, body {
    font-size: revert;
}

#s-lc-public-skiplink {
    // NOTE hidden skip link background color shows if block padding is 10px
    padding-block: 5px;
}

.s-lc-c-evt-title {
    font-size: 16px;
    margin-top: 5px;
}

.s-lc-c-l {
    background-color: #F0F0F0 !important;
}

.datepicker table tr td.disabled, 
.datepicker table tr td.new {
    color: #6B6B6B !important;
}

span.label.label-info.s-lc-eventcard-pill {
    font-size:78% !important;
}

.btn-success {
    background-color: #337ab7;
    border-color: #2e6da4;
}

a.btn.btn-success.btn-sm.margin-top-med {
    color: #ffffff;
}

.btn-success:hover {
    background-color: #286090;
    border-color: #204d74;
}