@use "../common/colors" as *;
@use "../common/footer" as *;

/* libcal/_footer.scss */

.breadcrumb {
  background-color: transparent;
  padding-inline-start: 0;
  & > .active {
    color: $jungle;
  }
}
