<div class="alert alert-dismissible alert-info" role="alert">
  <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
  This is a demo copy of the Archives site. Please excuse any weirdness.
</div>
<div class="alert alert-dismissible alert-warning" role="alert">
  <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
  here is the notice. it can <strong>formatting</strong> and <a class="alert-link" href="#">links</a>.
</div>
