<div class="alert alert-dismissible alert-warning" role="alert">
  <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
  Access to CaltechTHESIS, Caltech CampusPubs, and Caltech Magazine has been limited to campus networks (including wired, Wi-Fi, and VPN) due to abuse by automated programs (i.e. bots).
</div>
<div class="alert alert-dismissible alert-info" role="alert">
  <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
  There may be a small interruption to CaltechAUTHORS access as we upgrade the repository.
</div>
