<div class="alert alert-dismissible alert-warning" role="alert">
  <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
  Full access to <a class="alert-link" href="https://thesis.library.caltech.edu/">CaltechTHESIS</a> has been restricted to campus due to aggressive bots. A <a class="alert-link" href="https://thesis.caltech.edu/">limited static copy of the repository</a> is available off campus.
</div>
<div class="alert alert-dismissible alert-info" role="alert">
  <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
  <strong>CaltechAUTHORS is currently restricted to campus due to a Denial of Service attack by bots.</strong>
</div>
