<div class="alert alert-dismissible alert-warning" role="alert">
  <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
  Due to aggressive bot activity, full CaltechTHESIS access is now restricted to on-campus users <a class="alert-link" href="http://thesis.library.caltech.edu">thesis.library.caltech.edu</a>. Off-campus users can access a limited static copy at <a class="alert-link" href="http://thesis.caltech.edu">thesis.caltech.edu</a>.
</div>
<div class="alert alert-dismissible alert-warning" role="alert">
  <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
  Thesis submissions via <a class="alert-link" href="http://thesis.library.caltech.edu">thesis.library.caltech.edu</a> and digital reserves from <a class="alert-link" href="http://apps.library.caltech.edu/dibs">apps.library.caltech.edu/dibs</a> will be unavailable from 5 PM on Wednesday March 4 until 8 AM on Thursday March 5
</div>
