@use "colors" as *;

/* common/_base.scss */

h1, .s-lib-header h1, .h1 { font-size: 38px; }
h2, .h2 { font-size: 30px; }
h3, .h3 { font-size: 24px; }
h4, .h4 { font-size: 18px; }
h5, .h5 { font-size: 14px; }
h6, .h6 { font-size: 10px; }

h1, .s-lib-header h1, .h1, h2, .h2, h3, .h3 { margin-block-end: 16px; }

a {
  --bs-link-color: #bd4b00;
  --bs-link-hover-color: #bd4b00;
}
a:not(.btn) {
  color: #bd4b00;
  text-decoration: underline;
  &:visited {
    color: #bd4b00;
  }
  &:active,
  &:focus,
  &:hover {
    color: #bd4b00;
    text-decoration: underline 0.1em;
  }
  &:focus:not(:focus-visible) {
    outline: none;
  }
}

body { font-family: "Hind", sans-serif }

/* overrides springshare's external link icon style */

.fa-external-link {
    font-size: 12px !important;
    color: #fff;
}

/* overriding a-z badges */

.s-lg-az-result-badge-popular {
    background-color: #3f4254;
    color: #ffffff;
    padding: 2px;
    border-radius: 4px;
}

.s-lg-az-result-badge-featured {
    color: #0f5132;
    background-color: #d1e7dd;
    padding: 2px;
    border-radius: 4px;
}

.s-lg-az-result-badge-new {
  background-color: #286090;
  color: #ffffff;
  padding: 2px;
  border-radius: 4px;
}