$tarawera: #062e47;
$jungle: #19747d;

$sherpa: #005851;
$bazaar: #7b5f5d;

$mulled: #644b78;
$chelsea: #4d7b2f;

$hibiscus: #a02276;
$jumbo: #727479;

$burnt: #c75000;
$burnt-alert: #9f3e01;
$granny: #617572;

$monza: #cf0a2c;
